{% import "macro.html.twig" as web_macro %}
{% import "admin/macro.html.twig" as admin_macro %}
<!DOCTYPE html>
    <!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
    <!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
    <!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
    <!--[if gt IE 8]><!--> <html class=""> <!--<![endif]-->
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %} 
                {{ setting('site.name', 'SMEAGonline') }} - {% if setting('site.slogan') %}{{ setting('site.slogan') }} -{% endif %} Powered by SMEAG Online
            {% endblock %}
        </title>]
        <meta name="keywords" content="{% block keywords %}{% endblock %}" />
        <meta name="description" content="{% block description %}{% endblock %}" />
        <meta content="{{ csrf_token('site') }}" name="csrf-token" />
        
        {{ setting('login_bind.verify_code', '')|raw }}
        {% if setting('site.favicon') %}
            <link href="{{ asset(setting('site.favicon')) }}" rel="shortcut icon" />
        {% endif %}
        
        {% block stylesheets %}
            <link href="//fonts.googleapis.com/css?family=Oswald:400,300,700" rel="stylesheet" type="text/css" />
            <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
            <link href="{{ asset('themes/metronic/assets/global/plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('themes/metronic/assets/global/plugins/simple-line-icons/simple-line-icons.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('themes/metronic/assets/global/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('themes/metronic/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('themes/metronic/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('themes/metronic/assets/global/plugins/morris/morris.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('themes/metronic/assets/global/plugins/fullcalendar/fullcalendar.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('themes/metronic/assets/global/plugins/jqvmap/jqvmap/jqvmap.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('themes/metronic/assets/global/css/components.min.css') }}" rel="stylesheet" id = "style_components" type="text/css" />
            <link href="{{ asset('themes/metronic/assets/global/css/plugins.min.css') }}" rel="stylesheet" id = "style_components" type="text/css" />
            <link href="{{ asset('themes/metronic/assets/layouts/layout5/css/layout.min.css') }}" rel="stylesheet" id = "style_components" type="text/css" />
            <link href="{{ asset('themes/metronic/assets/layouts/layout5/css/custom.min.css') }}" rel="stylesheet" id = "style_components" type="text/css" />
        {% endblock %}
        {% block head_scripts %}{% endblock %}

    </head>

    {# <body {% if bodyClass|default('') %}class="{{ bodyClass }}"{% endif %}> #}
    <body class="page-header-fixed page-sidebar-closed-hide-logo">
    {% block body %}
        <div class = "wrapper">

            <header class="page-header">
                <nav class="navbar mega-menu" role="navigation">
                    <div class="container-fluid">

                    {# top bar #}
                        <div class="clearfix navbar-fixed-top">

                            {#  Brand and toggle get grouped for better mobile display  #}
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="toggle-icon">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </span>
                            </button>
                           {#   End Toggle Button #}

                            <!-- LOGO -->
                            {% if setting('site.logo') %}
                                <a id="index" class="navbar-brand-logo page-logo" href="{{ path('homepage') }}"><img src="{{ asset(setting('site.logo')) }}"></a>
                                {% else %}
                                <a id="index" class="navbar-brand-logo page-logo" href="{{ path('homepage') }}">{{ setting('site.name', 'SMEAG Online') }}</a>
                            {% endif %} 
                            <!-- LOGO -->

                            <!--SEARCH -->
                            <form class="search" action="extra_search.html" method="GET">
                                <input type="name" class="form-control" name="query" placeholder="Search...">
                                <a href="javascript:;" class="btn submit md-skip">
                                    <i class="fa fa-search"></i>
                                </a>
                            </form>
                            <!-- END SEARCH -->

                            <!-- BEGIN TOPBAR ACTIONS -->
                            <div class="topbar-actions">
                                <!-- BEGIN GROUP NOTIFICATION -->
                                <div class="btn-group-notification btn-group" id="header_notification_bar">
                                    
                                    <button type="button" class="btn btn-sm md-skip dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                        <i class="icon-bell"></i>
                                        <span class="badge">7</span>
                                    </button>

                                    <ul class="dropdown-menu-v2">
                                        <li class="external">
                                            <h3>
                                                <span class="bold">12 pending</span> notifications</h3>
                                            <a href="#">view all</a>
                                        </li>
                                        <li>
                                            <ul class="dropdown-menu-list scroller" style="height: 250px; padding: 0;" data-handle-color="#637283">
                                                <li>
                                                    <a href="javascript:;">
                                                        <span class="details">
                                                            <span class="label label-sm label-icon label-success md-skip">
                                                                <i class="fa fa-plus"></i>
                                                            </span> New user registered. </span>
                                                        <span class="time">just now</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">
                                                        <span class="details">
                                                            <span class="label label-sm label-icon label-danger md-skip">
                                                                <i class="fa fa-bolt"></i>
                                                            </span> Server #12 overloaded. </span>
                                                        <span class="time">3 mins</span>
                                                    </a>
                                                </li>
                                               
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <!-- END GROUP NOTIFICATION -->

                                <!-- BEGIN GROUP INFORMATION -->
                                <div class="btn-group-red btn-group">
                                    <button type="button" class="btn btn-sm md-skip dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                    <ul class="dropdown-menu-v2" role="menu">
                                        <li class="active">
                                            <a href="#">New Post</a>
                                        </li>
                                        <li>
                                            <a href="#">New Comment</a>
                                        </li>
                                        <li>
                                            <a href="#">Share</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="#">Comments
                                                <span class="badge badge-success">4</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">Feedbacks
                                                <span class="badge badge-danger">2</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- END GROUP INFORMATION -->

                                <!-- BEGIN USER PROFILE -->
                                <div class="btn-group-img btn-group">
                                    <button type="button" class="btn btn-sm md-skip dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                        <span>Hi, SMEAG ONLINE</span>
                                        <img src="{{ asset("assets/img/default/avatar.png") }}" alt=""> </button>
                                    <ul class="dropdown-menu-v2" role="menu">
                                        <li> 
                                            <a href="page_user_profile_1.html">
                                                <i class="icon-user"></i> My Profile
                                                <span class="badge badge-danger">1</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="app_calendar.html">
                                                <i class="icon-calendar"></i> My Calendar </a>
                                        </li>
                                        <li>
                                            <a href="app_inbox.html">
                                                <i class="icon-envelope-open"></i> My Inbox
                                                <span class="badge badge-danger"> 3 </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="app_todo_2.html">
                                                <i class="icon-rocket"></i> My Tasks
                                                <span class="badge badge-success"> 7 </span>
                                            </a>
                                        </li>
                                        <li class="divider"> </li>
                                        <li>
                                            <a href="page_user_lock_1.html">
                                                <i class="icon-lock"></i> Lock Screen </a>
                                        </li>
                                        <li>
                                            <a href="page_user_login_1.html">
                                                <i class="icon-key"></i> Log Out </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- END USER PROFILE -->

                                <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                                <button type="button" class="quick-sidebar-toggler md-skip" data-toggle="collapse">
                                    <span class="sr-only">Toggle Quick Sidebar</span>
                                    <i class="icon-logout"></i>
                                </button>
                                <!-- END QUICK SIDEBAR TOGGLER -->
                            </div>
                            <!-- END TOPBAR ACTIONS -->
                        </div>

                        <!-- BEGIN HEADER MENU -->
                        <div class="nav-collapse collapse navbar-collapse navbar-responsive-collapse">
                            <ul class="nav navbar-nav">
                                <li class="dropdown dropdown-fw dropdown-fw-disabled  active open selected">
                                    <a href="javascript:;" class="text-uppercase">
                                        <i class="icon-home"></i> Dashboard </a>
                                    <ul class="dropdown-menu dropdown-menu-fw">
                                        <li class="active">
                                            <a href="index.html">
                                                <i class="icon-bar-chart"></i> Default </a>
                                        </li>
                                        <li>
                                            <a href="dashboard_2.html">
                                                <i class="icon-bulb"></i> Dashboard 2 </a>
                                        </li>
                                        <li>
                                            <a href="dashboard_3.html">
                                                <i class="icon-graph"></i> Dashboard 3 </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown dropdown-fw dropdown-fw-disabled  ">
                                    <a href="javascript:;" class="text-uppercase" href="{{ path('user_show', {id:app.user.id}) }}">
                                        <i class="glyphicon glyphicon-home"></i> 我的主页 </a>

                                    <ul class="dropdown-menu dropdown-menu-fw">
                                        <li class="dropdown more-dropdown-sub">
                                            <a href="javascript:;">
                                                <i class="icon-diamond"></i> UI Features </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="ui_colors.html"> Color Library </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown more-dropdown-sub">
                                            <a href="javascript:;">
                                                <i class="icon-puzzle"></i> Components </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="components_date_time_pickers.html"> Date & Time Pickers </a>
                                                </li>
                                                
                                            </ul>
                                        </li>
                                        <li class="dropdown more-dropdown-sub">
                                            <a href="javascript:;">
                                                <i class="icon-settings"></i> Form Stuff </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="form_controls.html"> Bootstrap Form
                                                        <br>Controls </a>
                                                </li>
                                               
                                            </ul>
                                        </li>
                                        <li class="dropdown more-dropdown-sub">
                                            <a href="?p=">
                                                <i class="icon-wallet"></i> Portlets </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="portlet_boxed.html"> Boxed Portlets </a>
                                                </li>
                                                
                                            </ul>
                                        </li>
                                        <li class="dropdown more-dropdown-sub">
                                            <a href="javascript:;">
                                                <i class="icon-bar-chart"></i> Charts </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="charts_amcharts.html"> amChart </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown more-dropdown-sub">
                                            <a href="javascript:;">
                                                <i class="icon-cloud-upload"></i> Elements </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="elements_steps.html"> Steps </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown more-dropdown-sub">
                                            <a href="javascript:;">
                                                <i class="icon-pointer"></i> Maps </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="maps_google.html"> Google Maps </a>
                                                </li>
                                                <li>
                                                    <a href="maps_vector.html"> Vector Maps </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown dropdown-fw dropdown-fw-disabled  ">
                                   <a class="text-uppercase" href="{{ path('settings') }}"><i class="glyphicon glyphicon-cog"></i> 帐号设置</a>
                                    <ul class="dropdown-menu dropdown-menu-fw">
                                        <li>
                                            <a href="table_static_basic.html"> Basic Tables </a>
                                        </li>
                                        <li>
                                            <a href="table_static_responsive.html"> Responsive Tables </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown dropdown-fw dropdown-fw-disabled  ">
                                    <a href="{{ path('admin') }}"><i class="glyphicon glyphicon-lock"></i> 管理后台</a>
                                    <ul class="dropdown-menu dropdown-menu-fw">
                                        <li class="dropdown more-dropdown-sub">
                                            <a href="javascript:;">
                                                <i class="icon-basket"></i> eCommerce </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="ecommerce_index.html">
                                                        <i class="icon-home"></i> Dashboard </a>
                                                </li>
                                               
                                            </ul>
                                        </li>
                                        <li class="dropdown more-dropdown-sub">
                                            <a href="javascript:;">
                                                <i class="icon-docs"></i> Apps </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="app_todo.html">
                                                        <i class="icon-clock"></i> Todo 1 </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown more-dropdown-sub">
                                            <a href="javascript:;">
                                                <i class="icon-user"></i> User </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="page_user_profile_1.html"> Profile 1 </a>
                                                </li>
                                                
                                            </ul>
                                        </li>
                                        <li class="dropdown more-dropdown-sub">
                                            <a href="javascript:;">
                                                <i class="icon-social-dribbble"></i> General </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="page_general_about.html"> About </a>
                                                </li>
                                                <li>
                                                    <a href="page_general_contact.html"> Contact </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown more-dropdown-sub">
                                            <a href="javascript:;">
                                                <i class="icon-settings"></i> System </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="layout_blank_page.html"> Blank Page </a>
                                                </li>
                                                <li>
                                                    <a href="page_system_coming_soon.html"> Coming Soon </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown more-dropdown">
                                     {% if is_granted('ROLE_ADMIN') %}
           <a href="{{ path('admin') }}"><i class="glyphicon glyphicon-lock"></i> 管理后台</a>
            {% endif %}
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Link 1</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!-- END HEADER MENU -->
                    </div>
                    <!--/container-->
                </nav>
            </header>

        </div>



        {# header #}
        <div class="head">
        <div class="container">
        <div class="row">
        <div id="head-top">
        <div id="header_logo" class="col-sm-3">
        {% if setting('site.logo') %}
            <a class="navbar-brand-logo" href="{{ path('homepage') }}"><img src="{{ asset(setting('site.logo')) }}"></a>
            {% else %}
            <a class="navbar-brand" href="{{ path('homepage') }}">{{ setting('site.name', 'EDUSOHO') }}</a>
        {% endif %}
        </div>
        <div id="search_block_top" class="col-sm-5 clearfix">
        <form id="searchbox" class="navbar-form navbar-left clearfix" role="search" action="/search">
        <div class="form-group">
        <input type="search" id="search_query_top" placeholder="" name="q" maxLength="40">
        <button type="submit" class="btn button-search iconfont  icon-sousuo1"></button>
        </div>

        </form>
        </div>
        {# Login bar #}
        <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
        {% if app.user %}
        <li class="dropdown">

        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <img class="img-circle" src="{{ file_path(app.user.smallAvatar, 'avatar.png') }}">

        <P> 我 </p> </a>

        <ul class="dropdown-menu">
            <li><a href="{{ path('user_show', {id:app.user.id}) }}"><i class="glyphicon glyphicon-home"></i> 我的主页</a></li>
            <li><a href="{{ path('settings') }}"><i class="glyphicon glyphicon-cog"></i> 帐号设置</a></li>
            {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path('admin') }}"><i class="glyphicon glyphicon-lock"></i> 管理后台</a></li>
            {% endif %}
            <li><a href="{{ path('logout') }}"><i class="glyphicon glyphicon-off"></i> 退出</a></li>
        </ul>

        <li><a href="{{ path('my') }}"> <span class="iconfont icon-iconbook"></span><p>课程</p></a></li>

        <Li>
        <a href="{{ path('message') }}" class="badge-container message-badge-container">
        <span class="iconfont  icon-email"></span>
        <p>消息</p>
        {% if app.user.newMessageNum > 0 %}<i class="badge">{{ app.user.newMessageNum }}</i>{% endif %}
        </a>
        </li>

        <Li>
        <a href="{{ path('notification') }}" class="badge-container notification-badge-container">
        <span class="iconfont icon-wushenglaba"></span>
        <p>通知</p>
        {% if app.user.newNotificationNum > 0 %}<i class="badge">{{ app.user.newNotificationNum }}</i>{% endif %}</a>
        </Li>

        {% else %}
        <li><a href="{{ path('login') }}"> <span class="iconfont icon-login"></span><p>登录</p></a></li>
        <li><a href="{{ path('register') }}"> <span class="iconfont icon-zhuce"></span><p>注册</p></a></li>
        {% endif %}
        </ul>
        </div>

        </div>
        </div>
        <div id="block_top_menu" class="row">
        <div class="stickUpTop" style="position: relative; top: 0px;">
        <div>
        <ul class="sf-menu clearfix menu-content">
        <li><a href="/" title="首页">首页</a></li>
        <li><a href="/course/explore" title="课程">课程</a></li>
        <li><a href="/" title="直播">直播</a></li>
        <Li> <a href="/teacher" title="教题团队"> teaching team title </a> </ li>
        </ul>
        </div>
        </div>
        </div>
        </div>
        </div>
        {# end header #}

        {% block topbanner %}{% endblock %}
        {% block content %}{% endblock %}
        {% block bottom %}{% endblock %}

        <div id="login-modal" class="modal" data-url="{{ path('login_ajax') }}"></div>
        <div id="modal" class="modal"></div>
    {% endblock %}
        
        <script src="{{ asset('themes/metronic/assets/layouts/layout5/scripts/layout.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('themes/metronic/assets/layouts/global/scripts/quick-sidebar.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('themes/metronic/assets/layouts/global/scripts/quick-nav.min.js') }}" type="text/javascript"></script>
         {% include 'TopxiaWebBundle::script_boot.html.twig' with {script_main: asset('bundles/topxiaweb/js/app.js')} %}
    </body>
</html>